.tout {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}
img {
    max-width: 100%; /*pour que les images ne dépassent pas la largeur de leur conteneur*/
    height: auto; /*pour que les images gardent leur proportion*/
}

/*pour la responsivité*/
@media (max-width: 750px) {
    .zone01 {
        flex-direction: column; /*changer la direction des éléments de la zone en colonne pour les écrans plus petits*/
        align-items: center; /*centrer les éléments de la zone*/
        font-size: 12px; /*réduire la taille de la police pour les écrans plus petits*/
    }
    .menu {
        flex-direction: column; /*changer la direction des éléments du menu en colonne pour les écrans plus petits*/
        align-items: center; /*centrer les éléments du menu*/
    }
    nav li {
        width: auto;
        font-size: 14px; /*réduire la taille de la police pour les titres du menu*/
        padding: 5px 5px; /*réduire le padding pour les titres du menu*/
        margin: 5px 0px; /*ajouter un margin pour espacer les titres du menu*/
    }
    .sousmenu {
        position: absolute; /*positionner le sous-menu en relatif pour qu'il s'affiche correctement sur les écrans plus petits*/
        right: 20%; ; /*aligner le sous-menu à droite*/
        top: auto;
    }
}
@media (max-width: 1000px) {
    .zone02 {
    flex-direction: column;
    }
    
}

/*zone fixe*/
.fixe {
    position: sticky;/*positionner l'élément de manière fixe*/
    top: 0;
    width: 100%;
    background-color: #FBFBFB;
    z-index: 1000;
}
.zone01 {
    background-color: #427AA1;
    border-radius: 10px;
    width: 100%;
    min-height: 100px;
    max-height: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*permet de faire passer les éléments à la ligne si l'espace est insuffisant*/
}
.zone01 img {
    width: 120px; /*largeur de l'image*/
    height: 100%;
    border-radius: 100px;
    margin: 0 30px;

}

nav {
    margin-top: 10px;
    background-color:#FBFBFB;
    min-height: 50px;
    max-height: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex; /*alignement des éléments*/
    justify-content: space-between;
    margin: 10px 20px;
    align-items: center;
    list-style: none;
}

.titre {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 10px 20px;
    color: #427AA1;
}

.titre:hover {
    background-color: #427AA1;
    color: white;
    text-decoration: underline;
}

.sousmenu {
    display: block;
    display: none;/*cacher le sous-menu par défaut*/
    background-color: #FBFBFB;
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
    position: absolute; /*positionner le sous-menu en absolu*/
}
#sousmenu {
    margin-top: 5px;
} 

.dropdown:hover .sousmenu {
    color: white;  
    display: block; /*afficher le sous-menu au survol*/
    z-index: 100; /*assurer que le sous-menu est au-dessus des autres éléments*/
}

.NY {
    padding: 5px;
    text-decoration: none;
    display: block;
    color: #427AA1;
}
.NY:hover {
    background-color: #427AA1;
    color: white;
    text-decoration: underline;
    
}
.image01 {
    display: flex;
    align-items: center;
    justify-content: center; 
}

/*zone des images*/
.zone02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 435px;
    max-height: 600px;
    width: 100%;
    margin-top: 50px;
    
}

.image02 {
    overflow: hidden;
    border-radius: 10px;
    width: auto;
    height: 100%;
}
.image02 img {
    transition: 2s ease-in-out;
}
.image02:hover img {
    transform: scale(1.05); /*Légé zoom de l'image au survol*/
}

.image03 {
    overflow: hidden;
    border-radius: 10px;
    width: auto;
    height: auto;
    margin-left: 10px;
}

.image03 img {
    transition:  2s ease-in-out;
}
.image03:hover img {
    transform: scale(1.05); /*Légé zoom de l'image au survol*/
}
/*haut article*/
.zone03 {
    border: solid;
    margin-top: 30px;
    width: 100%;
    height: 60px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #0B162C;
    color: azure;
}

/*les articles*/
article img {
    width: 100%;
    height: 350px;
}

.art {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;/*permet de faire passer les articles à la ligne si l'espace est insuffisant*/
    gap: 20px;
    padding: 20px;
}
.art01 {
    flex: 1;
    min-width: 300px; /*largeur minimale pour les articles*/
    max-width: 400px; /*largeur maximale pour les articles*/
    text-align: center;
    margin: 10px;
    background-color: whitesmoke;
}
.art01:hover {
    background-color: #427AA1;
    color: white;
    transform: scale(1.05);
}
/*bas article*/
.zone04 {
    border: solid;
    width: 100%;
    height: 60px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0B162C;
    color: azure;
}

/*zone des trajets et horaires*/

    
.zone05 {
    font-size: 26px;
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    margin-top: 5px;
}

/*pour le tableau des trajets*/
.trajet {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    height: 400px;
  
}

.trajet thead {
    background-color: #427AA1;
    color: azure;
    height: 60px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
.tra2 {
    border-left: aqua solid 1px;
    border-right: aqua solid 1px; 
}
.tra1 {
    border-top-left-radius: 20px;
}
.tra3 {
    border-top-right-radius: 20px;
}

.trajet tbody {
    background-color: whitesmoke;
    font-size: 18px;
}
.trajet tbody th {
    border: #427AA1 dotted 1px; /*bordure des lignes du tableau*/
}
.trajet tbody th:hover {
    background-color: #427AA1; /*changement de couleur au survol des lignes*/
    color: white;
}

/*tableau reference*/
.reference {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    margin-bottom: 50px;
}

.reference img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: #FBFBFB;
    border-radius: 20px;
}

.reference thead {
    height: 60px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
.reference tbody {
    font-size: 14px;
}
.reference tbody a {
    text-decoration: none;
    color: #FBFBFB;
}
.reference tbody a:hover {
    color: #427AA1; /*changement de couleur au survol des liens*/
}

.bas_page {
    background-color: #0B162C;
    color: azure;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    opacity: 0.9; /*légère transparence pour le bas de page*/
}
