{% extends 'Convoiturage/base.html' %}
{% load static %} {# Charge le tag 'static' pour les fichiers CSS et JS #}

{% block title %}Annonces Conducteurs{% endblock %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Convoiturage/css/anonce.css' %}" />
{% endblock %}

{% block content %}
<h2>Trajets disponibles</h2>

{% if trajets %}
<table border="1">
  <tr>
    <th>Départ</th>
    <th>Arrivée</th>
    <th>Date</th>
    <th>Heure</th>
    <th>Places</th>
    <th>Prix</th>
    <th>Action</th>
  </tr>
  {% for trajet in trajets %}
    <tr>
      <td>{{ trajet.origine }}</td>
      <td>{{ trajet.destination }}</td>
      <td>{{ trajet.date_depart }}</td>
      <td>{{ trajet.heure_depart }}</td>
      <td>{{ trajet.nombre_places }}</td>
      <td>{{ trajet.prix_par_place }} FCFA</td>
      <td>
        <form method="post" action="{% url 'reserver_trajet' trajet.id %}">
          {% csrf_token %}
          <button type="submit">Réserver</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>

{% else %}
  <p>Aucun trajet n’est disponible pour le moment.</p>
{% endif %}
    <script src="{% static 'Convoiturage/js/anonce.js' %}"></script>
{% endblock %}

{% block extra_js %}
    {# Scripts Ionicons pour les icônes. #}

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}