{% extends 'Convoiturage/base.html' %} 
{% load static %} 

{% block title %}ICE - Covoiturage Communautaire{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="PIL1_2425_G13\Integration\Convoiturage\static\Convoiturage\css\ice.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}


{% block content %}

    <div class="container">
        <!-- Éléments décoratifs -->
        <div class="background-gradient">
            <div class="decor decor-car"><img src="https://cdn-icons-png.flaticon.com/512/743/743007.png" alt="Voiture"></div>
            <div class="decor decor-moto"><img src="https://cdn-icons-png.flaticon.com/512/4721/4721030.png" alt="Moto"></div>
            <div class="decor decor-cloud1"><img src="https://cdn-icons-png.flaticon.com/512/414/414927.png" alt="Nuage"></div>
            <div class="decor decor-cloud2"><img src="https://cdn-icons-png.flaticon.com/512/414/414934.png" alt="Nuage"></div>
            <div class="decor decor-sun"><img src="https://cdn-icons-png.flaticon.com/512/869/869869.png" alt="Soleil"></div>
            <div class="decor decor-plane"><img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" alt="Avion"></div>
        </div>

       

        <!-- Contenu principal -->
        <main>
            <div class="main-text">
                <h1>
                    Rejoignez une <span class="yellow">communauté</span> en
                    <span class="yellow">mouvement</span> !
                </h1>
                <div class="main-buttons">
                    <button type="button" class="btn">Rechercher un trajet</button>
                    <button type="button" class="btn">Proposer un trajet</button>
                </div>
            </div>
            <div class="image-card">
                <img src="PIL1_2425_G13\Integration\Convoiturage\static\Convoiturage\img\conduite.jpg" alt="Moto pour covoiturage" loading="lazy">
            </div>
        </main>

    </div>
    <script src="PIL1_2425_G13\Integration\Convoiturage\static\Convoiturage\js\ice.js"></script>
</body>

</html>