{% extends 'Convoiturage/base.html' %}

{% block content %}
<div class="container">
    <div class="background-gradient"></div>

    <!-- En tête -->
    <header>
      <div class="logo">Logo</div>
      <nav>
        <ul>
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Passager</a></li>
          <li><a href="#">Conducteur</a></li>
          <li><a href="#">Trajet</a></li>
        </ul>
      </nav>
      <button type="submit" class="btn1">Connexion</button>
    </header>

    <!-- corp -->
    <main>
      <div class="main-text">
        <h1>
          <span class="yellow">U</span>
          ne communauté en
          <span class="yellow"> mouvement</span> vous attend<span class="yellow"> !</span>
        </h1>
        <div class="main-buttons">
          <button type="button" class="btn">Rechercher</button>
          <button type="button" class="btn">Offrir un trajet</button>
        </div>
      </div>
      
    </main>

    <!-- pieds -->
    <footer>
      <div class="footer-grid">
        <div class="footer-column">
          <a href="#">FAQ</a>
          <a href="#">A propos</a>
          <a href="#">Cookies</a>
        </div>
        <div class="footer-column">
          <a href="#">Contacts</a>
          <a href="#">Conditions d'utilisations</a>
          <a href="#">Confidentialité</a>
        </div>
        <div class="footer-column">
          <a href="#">Centre d'aide</a>
          <a href="#">En savoir plus</a>
          <a href="#">Compte</a>
        </div>
        <div class="footer-column">
          <a href="">icebenin229@gmail.com</a>
          <div class="social-icons">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""> <i class="fab fa-pinterest-p"></i></a>
                <a href=""> <i class="fab fa-youtube"></i></a>
           </div>
        </div>


{% endblock %}