{# myapp/templates/myapp/settings.html #}
{% extends 'base.html' %} {# On étend le template de base pour une structure cohérente #}
{% load static %} {# Charge le tag 'static' pour les fichiers CSS et JS #}

{% block title %}Paramètres{% endblock %} {# Définit le titre de la page #}

{% block extra_css %}
    {# Lien vers votre fichier CSS spécifique aux paramètres. Assurez-vous que son chemin est correct. #}
    {# Si 'paramètre.css' est dans 'static/css/', le chemin sera 'css/paramètre.css' #}
    <link rel="stylesheet" href="{% static 'Convoiturage/css/settings.css' %}" />
{% endblock %}

{% block content %}
    <div class="container">
        <header class="header">Settings</header> {# En-tête de la page de paramètres #}

        {# Section "Account" #}
        <div class="section">
            <div class="item">
                <ul>
                    <li>
                        {# REMPLACER 'z' par l'URL Django pour la gestion du compte (ex: 'account_settings') #}
                        <a href="{% url 'account_settings' %}"> 
                            <span class="icon">
                                <ion-icon name="key-outline"></ion-icon>
                            </span>
                            <span class="text">Account</span>
                            <span class="arrow-icon">></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {# Section "Privacy" #}
        <div class="section">
            <div class="item">
                <ul>
                    <li>
                        {# REMPLACER 'z' par l'URL Django pour les paramètres de confidentialité (ex: 'privacy_settings') #}
                        <a href="{% url 'privacy_settings' %}">
                            <span class="icon">
                                <ion-icon name="lock-closed-outline"></ion-icon>
                            </span>
                            <span class="text">Privacy</span>
                            <span class="arrow-icon">></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {# Section "Chats" #}
        <div class="section">
            <div class="item">
                <ul>
                    <li>
                        {# REMPLACER 'z' par l'URL Django pour les paramètres de chat (ex: 'chat_settings') #}
                        <a href="{% url 'chat_settings' %}">
                            <span class="icon">
                                <ion-icon name="chatbubble-outline"></ion-icon>
                            </span>
                            <span class="text">Chats</span>
                            <span class="arrow-icon">></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {# Section "Notifications" #}
        <div class="section">
            <div class="item">
                <ul>
                    <li>
                        {# REMPLACER 'z' par l'URL Django pour les paramètres de notifications (ex: 'notification_settings') #}
                        <a href="{% url 'notification_settings' %}">
                            <span class="icon">
                                <ion-icon name="notifications-outline"></ion-icon>
                            </span>
                            <span class="text">Notifications</span>
                            <span class="arrow-icon">></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {# Section "Storage and Data" #}
        <div class="section">
            <div class="item">
                <ul>
                    <li>
                        {# REMPLACER 'z' par l'URL Django pour les paramètres de stockage (ex: 'storage_settings') #}
                        <a href="{% url 'storage_settings' %}">
                            <span class="icon">
                                <ion-icon name="swap-vertical-outline"></ion-icon>
                            </span>
                            <span class="text">Storage and Data</span>
                            <span class="arrow-icon">></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer">ICE 2025</div>
    </div>
{% endblock %}

{% block extra_js %}
    {# Scripts Ionicons pour les icônes. #}
    {# Il est recommandé de les mettre dans base.html si elles sont utilisées sur plusieurs pages. #}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}