/* Convoiturage/static/Convoiturage/css/parametre.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #ccc;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 20px;
}

.container {
  max-width: 480px;
  margin: auto;
  background-color: #eee;
  min-height: 100vh;
  padding-bottom: 20px;
}

.header {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 16px;
  color: #fff;
  border-bottom: 1px solid #ddd;
  background-color: #014886;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 30px;
}

.section {
  margin: 10px 0;
  font-size: 20px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  background-color: #fff;
  border-radius: 30px;
  list-style: none;
  text-align: left;
  font-weight: 600;
  padding: 5px;
  height: 50px;
  align-items: center;
  border: 1px solid #003366;
}

.item {
  display: flex;
  padding: 16px;
  border-top: 1px solid #f0f0f0;
  cursor: pointer;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  transform: translateY(-25px);
}

.item:first-child {
  border-top: none;
}

.icon {
  font-size: 20px;
  width: 30px;
  justify-content: space-between;
}

.text {
  font-size: 20px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.footer {
  font-size: 14px;
  color: #666;
  text-align: center;
  padding: 16px;
  border-top: 1px solid #eee;
  background-color: #eee;
  transform: translateY(330px);
}
.container ul li a 
{
  font-size: 18px;
  color: #ccc;
  justify-content: space-between;
  align-items: center;
  margin-right: 12px;
}
.icon
{
  color: #222;
  margin-left: -25px;
  margin-right: 15px;
}
.container ul li a
{
  position: relative;
  color: #222;
  align-items: center;
  text-decoration: none;
  transform: translateY(-30px);
}
.container section
{
  border-bottom: none;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 2px 5px;
  margin-bottom: 20px;
  list-style: none;
}
.container ul li
{
  list-style: none;
  text-decoration: none;
}
.container ul li a .text
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  position: absolute;
  letter-spacing: 0.05em;
  margin-right: 20px;
  transform: translateY(5px);
}
.container ul li a .icon
{
  color: #222;
}
.arrow-icon
{
  color: #888;
  padding-left: 350px;
  transform: translateY(-5px);
}
