{% extends 'Convoiturage/base.html' %}
{% load static %}

{% block title %}Lien de réinitialisation envoyé{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">
    <div class="forms-container">
        <div class="signin-signup">
            <h2 class="title">Lien de réinitialisation envoyé</h2>
            <p>Nous vous avons envoyé des instructions par e-mail pour réinitialiser votre mot de passe. Si un compte existe avec l'adresse e-mail que vous avez fournie, vous devriez les recevoir sous peu.</p>
            <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de spam ou de courrier indésirable.</p>
        </div>
    </div>
</div>
{% endblock %}