{% extends 'Convoiturage/base.html' %} {# Adaptez à votre template de base #}
{% load static %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">
    <div class="forms-container">
        <div class="signin-signup">
            <form method="post" class="sign-in-form">
                <h2 class="title">Réinitialiser le mot de passe</h2>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Envoyer le lien de réinitialisation" class="btn solid" />
            </form>
        </div>
    </div>
</div>
{% endblock %}