{% extends 'Convoiturage/base.html' %}
{% load static %}

{% block title %}Mot de passe réinitialisé !{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">
    <div class="forms-container">
        <div class="signin-signup">
            <h2 class="title">Mot de passe réinitialisé !</h2>
            <p>Votre mot de passe a été défini. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
            <a href="{% url 'login_register' %}" class="btn solid">Se connecter</a>
        </div>
    </div>
</div>
{% endblock %}