{% extends 'Convoiturage/base.html' %}
{% load static %}

{% block title %}Définir un nouveau mot de passe{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">
    <div class="forms-container">
        <div class="signin-signup">
            <form method="post" class="sign-in-form">
                {% if validlink %}
                    <h2 class="title">Définir un nouveau mot de passe</h2>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Changer mon mot de passe" class="btn solid" />
                {% else %}
                    <h2 class="title">Lien invalide</h2>
                    <p>Le lien de réinitialisation de mot de passe était invalide, peut-être parce qu'il a déjà été utilisé. Veuillez demander une nouvelle réinitialisation de mot de passe.</p>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}